{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About-Us</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'affiliate/css/style.css' %}" rel="stylesheet">

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'aboutus/style.css' %" }>          -->
</head>
<body>
    
    <div class="aboutus-section">
      
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                <h1><em>We offer exceptional convenience, choice and value.</em></h1>
                <h6>
                    With several customers at Amazon and billions of online visitors each year, we decided to help make life easier for customers by choosing the best Amazon products for them.

                    We offer our customers what they want, the way they want it, with fast delivery and free in-stock quick pickup services.

                    We believe that a satisfied customer is a lifetime customer, so we want to live up to our customers' expectations.
                </h6>


            </p>
            <div class="skills">
                <span>Good Choise</span>
                <span>Good Quality</span>
                <span>Good Mood</span>

           
    </div>
</body>
</html>
