{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>pitatrading</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">PitaTrad Machines...</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="aboutus.html">About-Us</a>

                        <!--     
                                </li>
                                <li class="nav-item">
                                 <a class="nav-link" href="services.html">Privacy Policy</a>   
                         -->
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('{% static 'affiliate/images/photo-1.jpg'%}')">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/photo-2.jpg'%}'">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/photo-5.jpg'%}')">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>
        <!-- Portfolio Section -->
        <h2>PitaTrad Machines...</h2>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="https://amzn.to/2E9q7T8"><img class="card-img-top" src="{% static 'affiliate/images/M1.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://amzn.to/2E9q7T8">Mr. Coffee Cafe Latte</a>
                        </h4>
                        <p class="card-text">The Mr. Coffee Café Latte makes delicious lattes in one simple touch and provides a quick, easy and affordable solution for latte lovers. The automated process will brew coffee or espresso while heating and frothing milk to create a delicious latte. Makes delicious drinks with one simple touch, providing a quick, easy.</p>
                        <a href="https://amzn.to/2E9q7T8" class="btn btn-primary">$577.77</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="https://amzn.to/2Q8pH1M"><img class="card-img-top" src="{% static 'affiliate/images/rsz_1m2.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://amzn.to/2Q8pH1M">Infuser Espresso Machine</a>
                        </h4>
                        <p class="card-text">The Infuser delivers optimal espresso flavor in every cup. It pre-infuses ground coffee with low, steady water pressure before extraction, gently expanding the grinds before stepping up to high pressure. The result is a more even extraction, which produces balanced espresso flavor with an 'Empty me!' indicator for when it’s full.</p>
                        <a href="https://amzn.to/2Q8pH1M" class="btn btn-primary">$579.95</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="https://amzn.to/3aFwfyD"><img class="card-img-top" src="{% static 'affiliate/images/M3.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://amzn.to/3aFwfyD">Breville-Nespresso USA </a>
                        </h4>

                        <p class="card-text">Nespresso Creatista Uno enables you to easily create an authentic top-quality Latte Art coffee at home, thanks to Nespresso system’s convenience and coffee expertise combined with Breville advanced milk texturing technology It has a premium design and finishing to help personalize your favorite coffee occasion.</p>
                        <a href="https://amzn.to/3aFwfyD" class="btn btn-primary">$399.95</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="https://amzn.to/321zmNi"><img class="card-img-top" src="{% static 'affiliate/images/M4.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://amzn.to/321zmNi">De'Longhi</a>
                        </h4>
                        <p class="card-text">The machine makes espresso at a consistently ideal temperature because of its new stainless-steel double boiler, which provides excellent heat distribution, as well as its instant reheat function, which keeps the machine at an ideal temperature, no matter how long the interval between cups,as well as a three-hour automatic shutoff for safety.</p>
                        <a href="https://amzn.to/321zmNi" class="btn btn-primary">$529.95</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="https://amzn.to/2Yi7Iuj"><img class="card-img-top" src="{% static 'affiliate/images/M5.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://amzn.to/2Yi7Iuj">Nespresso Lattissima</a>

                        </h4>With the milk frothing technology of Lattissima+, Nespresso has mastered the art of pairing the highest quality espresso with the perfect quality of milk froth in a compact and innovative machine. Preparing your favorite drinks has never been this simple, with just the touch of a button. With Lattissima+ you can enjoy perfectly made, delicious drinks.</p>
                        <a href="https://amzn.to/2Yi7Iuj" class="btn btn-primary">$599.99</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="https://amzn.to/3iWrpja"><img class="card-img-top" src="{% static 'affiliate/images/M66.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://amzn.to/3iWrpja">Gaggia Anima</a>
                        </h4>
                        <p class="card-text">
                            The Gaggia Anima is a slim super-automatic espresso and coffee machine. With six buttons and a chrome plated pannarello wand, the Anima can make cappuccino and lattes. The Anima is your personal barista, remembering your personal taste with Programmable Brewing, and adjustable strength and temperature settings.
                        </p>
                        <a href="https://amzn.to/3iWrpja" class="btn btn-primary">$649.00</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <br />
        <hr>
        <br /><br />

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-6">
                <script type="text/javascript">
                    amzn_assoc_placement = "adunit0";
                    amzn_assoc_tracking_id = "alphatrand-20";
                    amzn_assoc_ad_mode = "search";
                    amzn_assoc_ad_type = "smart";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_default_search_phrase = "coffee expresso cup";
                    amzn_assoc_default_category = "All";
                    amzn_assoc_linkid = "cd9dc4dfc4e1f2e612fd7bbdcfdf2bed";
                    amzn_assoc_title = "Shop Related Products";
                    amzn_assoc_search_bar = "true";
                    amzn_assoc_search_bar_position = "down";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>

            </div>
            <div class="col-lg-6">
                <script type="text/javascript">
                    amzn_assoc_placement = "adunit0";
                    amzn_assoc_search_bar = "true";
                    amzn_assoc_tracking_id = "alphatrand-20";
                    amzn_assoc_search_bar_position = "bottom";
                    amzn_assoc_ad_mode = "search";
                    amzn_assoc_ad_type = "smart";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_title = "Shop Related Products";
                    amzn_assoc_default_search_phrase = "coffee machine";
                    amzn_assoc_default_category = "All";
                    amzn_assoc_linkid = "cd9dc4dfc4e1f2e612fd7bbdcfdf2bed";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
            </div>
        </div>
        <!-- /.row -->
        <br />
        <hr>
        <br />

        <!-- Call to Action Section -->
        <div class="row mb-4">
            <div class="col-md-8">
                <p>If you are a passionate coffee drinker, who love to have a cup of coffee , it’s time that you should know the benefits of owning coffee maker at home because you need it, So we made the best choise for you!</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block" href="https://www.amazon.com/gp/search?ie=UTF8&tag=alphatrand-20&linkCode=ur2&linkId=4d3081daf3287e7178da30016a132ccc&camp=1789&creative=9325&index=kitchen&keywords=cofee machine">PitaTrad Machine On Amazon</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=alphatrand-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            </div>
        </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
            
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
